<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="{{url_for('static', path='/styles.css')}}", rel="stylesheet">
</head>
<body>
    <div class="head">
        <h2>About</h2>
    </div>
    <p>
        <img src="{{url_for('static', path='/i.png')}}" alt="", height="500px", width="500px">
    </p>
    <br>
    <p>
        This serves  to assist members of communities with sharing and talking about 
        them being mistreated. It will aslo assist people in voicing out their pains  and hardships. 
        We hope that this website we can assist as many people that need help and deal with dillemas as 
        swiftly as possible. 
    </p>
    <p>
        It also serves to combat the the rising cases of GBV (gender based viloence) and rape cases.So that 
        whenever you decide that it is time time to talk we are availble, completely understanding that it 
        might not be easy at first but everything begin with a step.
    </p>

   
</body>
<div class="Trademark">
    <footer>
        Copyright &copy; 2022. All Rights Reserved
    </footer>
    
</div>
</html>