<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Anonymous Assist</title>
        <link href="{{url_for('static', path='/styles.css')}}", rel="stylesheet">
    </head>
    <body>

        <div class="head">
            <h1>From one hand to another</h1>
        </div>
        <div class="2">
            <h3>
                Not all heros wear capes! Thank you lending a hand to those who need one.
                End all Silnce and report any injustice being done to a felloW neighbor. 
            </h3>
            <br>
            <img src="{{url_for('static', path='/megaphone.jpg')}}" alt="", height="500px", width="800px">
            <br>
            <p>
                Please fill out the form below as possible you can. The more information the better 
                we can assist you.
            </p>
        </div>
        <br>

        <form method="post">
            <label for="Name" >Name of person to be assisted:</label>
            <input type="text" placeholder="Aphrodite Ossas" name="Name">
            <br>
            <br>
            <label for="conNo">Cell Number</label>
            <input type="text" placeholder="0712345678" name="conNo">
            <br>
            <br>
            <label for="loc">Location</label>
            <input type="text" placeholder="Address, City, Town" name="loc">
            <br>
            <br>
            <label for="pos">Postal Code</label>
            <input type="text" placeholder="9560" name="pos">
            <br>
            <br>
            <label for="report">Report</label>
            <textarea name="report"></textarea>
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>

    </body>
    <div class="Trademark">
        <footer>
            Copyright &copy; 2022
        </footer>
</html>