<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact</title>
        <link href="{{url_for('static', path='/styles.css')}}", rel="stylesheet">
    </head>
    <body>

        <div class="head">
            <h2>Contact Us</h2>
        </div>
        
   <p>
    <strong>For more information please contact:</strong>
    <br>
    <br>
    XXX: ### ### ###
    <br>
    XXX-XXX:### ### ###
    <br>
    <br>
    <strong>For immediate emegencies please conctact the national hotline:</strong>
    <br>
    <br>
    <em>Medical attenention</em>: 911
    <br>
    <em>Police and Services</em>: 10111

   <div class="con">
        <p>  
            <img src="{{url_for('static', path='/con.png')}}" alt="", height="500px", width="500px">
        </p>
   </div>
        </p>
         
        <p>
    <strong>Location:</strong>
    <br>
    <br>
    Walter Sisulu University
    <br>
Private Bag X3182
<br>
BUTTERWORTH
<br>
4960

   </p>
   
    </body>
    <div class="Trademark">     
        <footer>
            Copyright &copy; 2022
        </footer>
        
    </div>
</html>