<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
    <link href="{{url_for('static', path='/styles.css')}}", rel="stylesheet">
</head>
<body>
    <div class="head">
        <h2>Team</h2>
    </div>
    
    <p>
        The developers of this site are:
        Alex Madalambana && Athnathi Ntlangula
    </p>
    <p>
        They can be contacted on:
        <br>
        GitHub:
        www.github.com/Madalambana
        <br>
             www.github.com/atty345
        <br>
        <br>
        Gmail:
        <br>
        almadalambana@gmail.com

    </p>

    <p>
        <img src="{{url_for('static', path='/gmail.png')}}" alt="", height="100px", width="100px">
        <img src="{{url_for('static', path='/github.png')}}" alt="", height="100px", width="100px">
    </p>
</body>
<div class="Trademark">
    <footer>
        Copyright &copy; 2022
    </footer>
    
</div>
</html>