<!DOCTYPE html>
<html lang="en", method="get">
    <head>
        <title>Home page</title>
        
        <link href="{{url_for('static', path='/styles.css')}}", rel="stylesheet">
    </head>
    <body>
        <div class="opacity">
            <article class="post">
                <div class="heading"><h1>Helping Hands</h1>
                </div>
                    <div class="nav">
                        <a href="about"><ul>About</ul></a>
                        <a href="contact"><ul>Contact</ul></a>
                        <a href="devs"><ul>Developers</ul></a>
                    </div>
                <div>
                    <div class="padding">
                        <p><h2>Welcome to Helping Hands, report abuse and mishandling
                            so that issues can be immediately addressed and create a safer future. 
                            Do not keep quiet... voice out all inappropriations!</h2> 
                            </p>
                    </div>
                        <div class="hands">
                           <img src="{{url_for('static', path='/hands.jpg')}}", alt="img"> 
                        </div>
                
                 <br>
                    <div class="side">
                       <p>
                         Greetings...! You have taken a considerable milestone as the you visiting this site,
                         this shows that you have decided to take action to end the violence and injustice that
                         has been done to you.  
                     </p>
                     <p>
                        <em>“I believe that words are strong, that they can overwhelm what 
                            we fear when fear seems more awful than life is good.”</em> These are wise words that are 
                            to encourage and strenghthen those who have been through unfortunate circumstances. It is
                            time, time to report all crimes and those you have wronged you. Talk to us and we will do
                            all means to aid you.
                     </p>
                  </div>
                  <br>
                  <br>
                  <p>
                     Together as a nation we stand against mishandle despite it being our loved ones
                     or members of the community being uncivilized. Do not remain silent you are not 
                     alone in this.
                   </p>
                   <br> 
                 </div>
                  </article>
        <div class="float1">
            <p>
                We all have the strong people and weak people and the purpose of the strong is to assist the
                weak. Just as the previous analogy societies, rather neighborhoods behave the same. They say 
                <em>"It takes a neighborhood to raise a child"</em> however if we were to dive deep into this maxim
                you would realise that neighbors are family too. Note that you report will be kept anonymous nor will 
                your loved one/ family member be notified of your act
            </p>
            <p>
                Assist and lend a hand so that they get the justice they deserve because peace 
                is absent.
                <br>
                <br>
                To assist a friend, neighbor or a family member click below
                <br>
                <a href="vlan0nym17y" target="_blank"><button>Assist</button></a>
            </p>
        </div>
        <div class="float1">
            <p> Gender Based Violence  should not be excluded by means of "love" because love
                does not hurt, it is gentle and kind. Alcohol is not an exception either because there is 
                a famous maxim and it goes <em>"Drunk thougts are sober thoughts." </em>
            </p>
            <p>     
                Please fellow citizens do not keep quite. Speak and report abuse. Most significantly abuse
                 is not exclusive to one or specfic gender nor race either and its' effects echo down through
                 geneations to come. Voice out abuse so we as a nation can put an end to this.
                <br>
                <br>
                To report Gender based violence please click the button below.
                <br>
                <a href="vlg3nd37" ><button>GBV</button></a>
            </p>
        </div>
        <div class="float1">
            <p> Sexual assault is a serious offence whether it be in a relationship, marriage or 
                even being taken advantage by a stranegr, so long as concent is not given then it falls under
                sexual assault. It can be difficult sometimes thinking of how you were wronged and how a fellow
                person has taken advantage of your trust.
            </p>
            <p>
                Please report rape as the same person who wrongs you will 
                surely wrong another and wrong the daughters of tomorrow Let us put an end to this madness because
                <em>"Real men/ women dont rape!"</em>.
                <br>
                <br>
                To report sexual assault and molestation click on the button below
                <br>
                <a href="vlm01357"><button>Molestation</button></a>
            </p>
        </div>
        <br>
        </div>
        <div class=space> </div>
        

</body>
<div class="Trademark">
    <footer>
        Copyright &copy; 2022. All Rights Reserved
    </footer>
    
</div>
</html> 