<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            login
        </title>
        <link href="{{url_for('static', path='/styles.css')}}", rel="stylesheet">
    </head>
    <body>

        <div class="head">
            <h1>
                Login
            </h1>
        </div>
        <br>

        <form method="post">
            <label for="username" >Username:</label>
            <input type="text" name="username">
            <br>
            <br>
            <label for="passwrd">Password</label>
            <input type="text" name="passwrd">
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>

    </body>
    <div class="Trademark">
        <footer>
            Copyright &copy; 2022. All Rights Reserved
        </footer>
</html>